<!-- <!DOCTYPE html>
<html>
<head>
    <title>My Blog App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>My Blog</h1>
        <nav>
            <ul class="nav_links">
                <li><a href="/home">Home</a></li>
                <li><a href="{{ url_for('new_post') }}">New Post</a></li>
                <li><a href="/">Signin</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/signout">SignOut</a></li>
            
                
            </ul>
        </nav>




    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My Blog App. All rights reserved.</p>
    </footer>
</body>
</html> -->
